<!DOCTYPE html>
{% extends "Login_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<!-- {% block title %} django-home {% endblock %} -->
{% block linkcss %}<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}



{% block body %}

{% if registered %}
  <div class="alert alert-success">
    Congratulations! Successfully Registration Completed!!!
  </div>
{% else %}
<h3 class="text-center">Sign Up</h3>
<p class="text-center">It's quick and easy</p>
<form enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {{ user_form|crispy }}
  {{ user_info_form|crispy }}
  <input class="btn btn-success" type="submit" value="Register">
  <a href="{% url 'Login_app:home' %}" class="btn btn-primary" >Back</a>
</form>
{% endif %}
{% endblock %}
